# Web Scrapers

In [1]:
import requests
import urllib.request
import time
import re
from bs4 import BeautifulSoup
import pandas as pd
import string

## Fantasy Pros

In [2]:
fantasy_pros_urls = ['https://www.fantasypros.com/nfl/projections/qb.php?week=1',
                    'https://www.fantasypros.com/nfl/projections/rb.php?week=1',
                    'https://www.fantasypros.com/nfl/projections/wr.php?week=1',
                    'https://www.fantasypros.com/nfl/projections/te.php?week=1',
                    'https://www.fantasypros.com/nfl/projections/k.php?week=1',
                    'https://www.fantasypros.com/nfl/projections/dst.php?week=1']

In [3]:
fantasy_pros_players = []
fantasy_pros_points = []
fantasy_pros_positions = []

for url in fantasy_pros_urls:
    position = (url.split('https://www.fantasypros.com/nfl/projections/'))[1].split('.php?week=1')[0]
    print("Running Code for {}".format(url))
    response = requests.get(url)
    print(response)
    soup = BeautifulSoup(response.text, "html.parser")
    
    tbl = soup.find('table')
    rows = tbl.findAll('tr')
    for row in rows:
        c = 0
        for names in row.find_all(class_='player-name'):
            fantasy_pros_players.append(names.text)
        for points in row.find_all('td', attrs = {'class' : 'center', 'data-sort-value': True }):
            fantasy_pros_positions.append(position)
            fantasy_pros_points.append(points.text)

    print("Total Number of Players: {}".format(len(fantasy_pros_players)))
    print("Total Numbef of Scores: {}".format(len(fantasy_pros_points)))

Running Code for https://www.fantasypros.com/nfl/projections/qb.php?week=1
<Response [200]>
Total Number of Players: 46
Total Numbef of Scores: 46
Running Code for https://www.fantasypros.com/nfl/projections/rb.php?week=1
<Response [200]>
Total Number of Players: 206
Total Numbef of Scores: 206
Running Code for https://www.fantasypros.com/nfl/projections/wr.php?week=1
<Response [200]>
Total Number of Players: 414
Total Numbef of Scores: 414
Running Code for https://www.fantasypros.com/nfl/projections/te.php?week=1
<Response [200]>
Total Number of Players: 524
Total Numbef of Scores: 524
Running Code for https://www.fantasypros.com/nfl/projections/k.php?week=1
<Response [200]>
Total Number of Players: 556
Total Numbef of Scores: 556
Running Code for https://www.fantasypros.com/nfl/projections/dst.php?week=1
<Response [200]>
Total Number of Players: 588
Total Numbef of Scores: 588

## Create Table

In [4]:
d = {'Players':fantasy_pros_players, 'Position':fantasy_pros_positions, 'fantasy_pros':fantasy_pros_points}
df = pd.DataFrame(d)
df.Players = df['Players'].str.replace('[{}]'.format(string.punctuation), '')
df.Players = df['Players'].str.lower()

## My Teams

In [5]:
wide_open_spaces = ['carson wentz', 'deandre hopkins', 'julio jones', 'julian edelman', 'leonard fournette', 
                    'james white', 'eric ebron', 'calvin ridley', 'jordan howard', 'ben roethlisberger', 
                    'chris thompson', 'dion lewis', 'jordan reed', 'dk metcalf', 'robbie gould', 'houston']

In [6]:
brees_up_my_dress = ['baker mayfield', 'deandre hopkins', 'michael thomas', 'joe mixon', 'josh jacobs',
                     'zach ertz', 'ty hilton', 'david montgomery', 'drew brees', 'robby anderson', 'tarik cohen',
                     'derrius guice', 'eric ebron', 'kaimi fairbairn', 'los angeles']

In [14]:
team_win = ['aaron rodgers', 'leonard fournette', 'melvin gordon', 'julio jones', 'tyreek hill', 'eric ebron'
            , 'marlon mack', 'houston', 'robbie gould', 'calvin ridley', 'damien williams', 'drew brees'
            , 'david njoku', 'dante pettis']

## Find Players

### Functions

In [8]:
def create_team_df(team_name):
    team_df = pd.DataFrame()
    for player in team_name:
        temp = df[df['Players'].str.contains(player)]
        if temp.shape[0] > 0:
            team_df = pd.concat([team_df, temp])
            temp = pd.DataFrame()
        else:
            print("Player {} not found".format(player))
    return team_df

### Get Teams

In [9]:
WOS = create_team_df(wide_open_spaces)

In [10]:
WOS

                Players Position fantasy_pros
7          carson wentz       qb         19.2
206     deandre hopkins       wr         13.5
207         julio jones       wr         12.9
220      julian edelman       wr         10.7
54    leonard fournette       rb         14.8
77          james white       rb          7.7
426          eric ebron       te          6.0
243       calvin ridley       wr          7.0
72        jordan howard       rb          9.3
12   ben roethlisberger       qb         18.2
98       chris thompson       rb          4.2
88           dion lewis       rb          5.7
427         jordan reed       te          5.6
289          dk metcalf       wr          3.3
533        robbie gould        k          8.5
586      houston texans      dst          5.1

In [11]:
BUMD = create_team_df(brees_up_my_dress)

In [12]:
BUMD

                  Players Position fantasy_pros
10         baker mayfield       qb         18.9
206       deandre hopkins       wr         13.5
212        michael thomas       wr         12.2
60              joe mixon       rb         12.9
64            josh jacobs       rb         12.3
416             zach ertz       te          8.9
236             ty hilton       wr          7.9
68       david montgomery       rb         11.4
2              drew brees       qb         20.5
235        robby anderson       wr          8.3
78            tarik cohen       rb          7.4
85          derrius guice       rb          6.0
426            eric ebron       te          6.0
537       kaimi fairbairn        k          8.3
563  los angeles chargers      dst          7.3
568      los angeles rams      dst          6.6

In [15]:
TW = create_team_df(team_win)

In [16]:
TW

               Players Position fantasy_pros
5        aaron rodgers       qb         19.2
54   leonard fournette       rb         14.8
128      melvin gordon       rb          1.4
207        julio jones       wr         12.9
213        tyreek hill       wr         12.0
426         eric ebron       te          6.0
70         marlon mack       rb         11.1
586     houston texans      dst          5.1
533       robbie gould        k          8.5
243      calvin ridley       wr          7.0
69     damien williams       rb         11.3
2           drew brees       qb         20.5
421        david njoku       te          7.0
238       dante pettis       wr          7.5

### Print Lineup

In [20]:
def get_lineup(df, col):
    idx = df.groupby(['Position'])[col].transform(max) == df[col]
    final = df[idx]
    return final

In [21]:
get_lineup(WOS, 'fantasy_pros')

            Players Position fantasy_pros
7      carson wentz       qb         19.2
426      eric ebron       te          6.0
243   calvin ridley       wr          7.0
72    jordan howard       rb          9.3
533    robbie gould        k          8.5
586  houston texans      dst          5.1

In [22]:
get_lineup(BUMD, 'fantasy_pros')

                  Players Position fantasy_pros
416             zach ertz       te          8.9
2              drew brees       qb         20.5
235        robby anderson       wr          8.3
78            tarik cohen       rb          7.4
537       kaimi fairbairn        k          8.3
563  los angeles chargers      dst          7.3

In [23]:
get_lineup(TW, 'fantasy_pros')

               Players Position fantasy_pros
54   leonard fournette       rb         14.8
586     houston texans      dst          5.1
533       robbie gould        k          8.5
2           drew brees       qb         20.5
421        david njoku       te          7.0
238       dante pettis       wr          7.5